{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'core/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'core/layout.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'core/bootstrap.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>{% block title %}Tytuł strony{% endblock %}</title>
    {% block styles %}{% endblock %}
  </head>
  <body>
    <header class="header">
      <div style="float:right">
        <span class="logo__brand">User</span>
        <i class="material-icons logo__icon">account_circle</i>
      </div>
        <navigation class="nav header__nav navigation">
          <ul class="list-inline">
            <li class="list-inline-item"><a href="{% url 'core:index' %}" style="color:green">Strona domowa</a></li>
            <li class="list-inline-item"><a href="{% url 'core:contact' %}" style="color:green">Strona kontaktowa</a></li>
            <li class="list-inline-item"><a href="{% url 'core:products' %}" style="color:green">Strona z produktami</a></li>
          </ul>
        </navigation>
    </header>
    <main class="content">
      {% block content %}{% endblock %}
    </main>
  </body>
</html>

