{% extends "core/base.html" %}

{% block content %}
  {% if contact %}

    <table class="table">
      <tr>
        <th scope="col">Imię i nazwisko</th>
        <th>{{contact.telephone}}</th>
      </tr>
      <tr>
        <th scope="col">Email kontaktowy</th>
        <th>{{contact.email}}</th>
      </tr>
      <tr>
        <th scope="col">Adres kontaktowy</th>
        <th>{{contact.address}}</th>
      </tr>
      <tr>
        <th scope="col"></th>
        <th></th>
      </tr>

    </table>

  {% else %}
    <h5>Brak danych kontaktowych</h5>
  {% endif %}
{% endblock %}
