{% extends "core/base.html" %}


{% block content %}
  <article class="article">
    <header>
      <h1 class="article__title">Bajka o trzech świnkach<h1>
    </header>
    <div class="article__text">
      Dawno temu, w małej zaniedbanej chatce, mieszkały sobie z mamą trzy małe świnki. Były bardzo biedne, więc postanowiły, że wyruszą w świat w poszukiwaniu fortuny.

      I tak, pierwsza z nich zapakowała ulubione rzeczy, powiedziała mamie „do widzenia” i poszła.
      Nie uszła daleko, gdy zobaczyła ładną brukowaną drogę.
      - Jaka piękna droga – powiedziała pierwsza mała świnka. - chyba pójdę nią i przekonam się, co mnie na niej spotka.
      Niedługo potem ujrzała człowieka ze snopkiem słomy.
      - Dzień dobry panu – przywitała się grzecznie. - Niech mi pan sprzeda ten snopek słomy, przyda mi się na budowę domku.
      - Zgoda – odrzekł człowiek.
      ﻿


      I tak pierwsza mała świnka dała człowiekowi wszystkie pieniądze za snopek słomy. Potem zabrała się do pracy. Zaczęła wiązać słomę w pęczki i przymocowywać do kijów. Robiła to tak długo, aż wybudowała ścianę. Wreszcie, mała świnka samodzielnie zrobiła przytulny mały domek ze słomy i była bardzo zadowolona.
      Ale kiedy siedziała w środku i jadła pierwszą kolację w nowym domku, nadszedł zły wilk. Polował przez cały dzień w wielkim lesie, ale nie znalazł nic do jedzenia, więc był bardzo głodny. Nic dziwnego, że kiedy zobaczył malutki domek świnki, pomyślał: wreszcie znalazłem kolację! Zapukał do drzwi i zawołał:
      Mała świnko, uchyl drzwi
      Pozwól wejść do środka mi!
      Pierwsza świnka wyjrzała przez okno. Kiedy zobaczyła wielkiego złego wilka, zawołała:
      Nie otworzę drzwi przed tobą,
      Boś jest bardzo złą osobą!
      To bardzo rozwścieczyło wilka. Ryknął bardzo głośno:
      Jak się nadmę i jak dmuchnę
      To z twym domkiem będzie krucho!
      Ale świnka wciąż nie chciała go wpuścić do środka. Wielki zły wilk sapał i dmuchał tak tak długo, aż mały domek ze słomy rozsypał się. Pierwsza mała świnka musiała uciekać tak szybko, jak tylko potrafiła, bo inaczej wilk naprawdę by ją zjadł!

      Wkrótce potem druga mała świnka postanowiła poszukać szczęścia w szerokim świecie. Powiedziała mamie „do widzenia” i poszła sobie.
      Szybko dotarła do wysypanej żwirem drogi.
      - Jaka przyjemna droga. Mam nadzieję, że prowadzi w jakieś ciekawe miejsce, gdzie znajdę swoje szczęście – pomyślała.
      Skręciła więc w żwirową drogę.
      Wkrótce druga mała świnka spotkała człowieka niosącego wielką walizkę patyków.
      - Dzień dobry panu – przywitała się uprzejmie druga mała świnka. - Czy nie sprzedałby mi pan tej wiązki patyków. Chciała bym zbudować z nich swój domek.
      - Oczywiście – odpowiedział człowiek.
      Druga mała świnka dała mu wszystkie pieniądze za patyki.
      Wzięła wiązkę i zabrała się do pracy. Dokładnie opiłowała patyki. Potem poprzybijała je do siebie. Wkrótce zrobiła z patyków przytulny, mały domek.
      Kiedy tylko druga mała świnka wstawiła frontowe drzwi, nadszedł wielki zły wilk. Zapukał do drzwi i zawołał:
      Mała świnko, uchyl drzwi
      Pozwól wejść do środka mi!
      Kiedy druga mała świnka wyjrzała przez okno i zobaczyła wielkiego złego wilka, odpowiedziała:
      Nie otworzę drzwi przed tobą,
      Boś jest bardzo złą osobą!
      To rozwścieczyło wilka. Bardzo głośno zaryczał:
      Jak się nadmę i jak dmuchnę
      To z twym domkiem będzie krucho!
    </div>
  </article>

{% endblock %}
