{% extends "core/base.html" %}
{% load static %}

{% block content %}
{% if list %}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nazwa</th>
        <th scope="col">Obrazek</th>
        <th scope="col">Cena</th>
        <th scope="col">Ilość</th>
        <th scope="col">Zakup</th>
      </tr>
    </thead>
    <tbody>
    {% for item in list %}
    <tr>
      <td class="align-middle">{{ item.name }}</td>
      <td class="align-middle">
        {% if item.image %}
        <img src="{% get_static_prefix %}core/media/{{item.image}}" height="100" width="100"/>
        {% else %}
          <img src="{% get_static_prefix %}core/media/photo5.jpg" width="100">
        {% endif %}
      </td>
      <td class="align-middle">{{ item.price }}</td>
      <td class="align-middle">{{ item.amount }}</td>
      <td class="align-middle"><button type="button" class="btn btn-danger">Kupuję</button></td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
{% else %}
  <h4>Brak produktów</h4>
{% endif %}
{% endblock %}
